body{
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
h1{
    font-size: 80px;
    font-weight: 700;
}
h3{
    font-size: 50px;
}
h5{
    font-size: 30px;
}
#first{
    color: purple;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 50%;
    padding-top: 7%;
    padding-left: 7%;
}
.bg-img{
    background-image: url(images/bg4.png);
    background-repeat: no-repeat;
    
}
section{
    height: 500px;
}
h3{
    margin-top: -30px;
    padding-left: 5px;
}
h5{
    margin-top: -45px;
    padding-left: 5px;
}
p{
    margin-top: -40px;
    padding-left: 5px;
    text-align: justify;
}
.hire-button{
    background-image: linear-gradient(rgb(53, 6, 45),purple);
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 5px;
    color: white;
}